---
import BaseLayout from '@/layouts/BaseLayout.astro';
import AboutUs from '@/components/AboutUs.vue';
---

<BaseLayout title="من نحن" description="نحن منصة يمنية رائدة بتصميم إطارات الصور الشخصية العصرية. نؤمن بتحويل لحظاتك لذكريات خالدة بلمسة فنية مميزة وجودة لا تضاهى. تعرف على قصتنا ورؤيتنا!">
  <div class="prose max-w-none">
    <AboutUs client:load />
  </div>
</BaseLayout>
