---
import BaseLayout from '@/layouts/BaseLayout.astro'
import FrameBuilder from '@/components/FrameBuilder.vue'
---

<BaseLayout title="صمم إطارك" description="أطلق العنان لإبداعك مع إطارات اليمن، المنصة الأولى لتصميم إطارات الصور الشخصية بتصاميم يمنية تضفي على هويتك رونقاً فريداً.">
  <section class="p-4">
    <FrameBuilder client:only="vue" />
  </section>
</BaseLayout>
