---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="سياسة الخصوصية" description="خصوصية بياناتك أولويتنا! تعرف على كيفية جمعنا واستخدامنا وحمايتنا لمعلوماتك الشخصية. منصتنا تلتزم بأعلى معايير الأمان والشفافية لحماية كل لحظة لك.">
  <main>
    <div class="container bg-base-200 max-auto py-10">
      <div class="card bg-base-100 shadow-xl max-auto">
        <div class="card-body px-6">
          <h1 class="card-title font-bold text-3xl border-r-2 border-slate/80 pr-2">سياسة الخصوصية</h1>

          <p class="mt-4">
            نحن نحترم خصوصيتك ونلتزم بحمايتها. هذه السياسة توضح كيفية جمعنا واستخدامنا وحماية معلوماتك الشخصية.
          </p>

          <h3 class="text-lg font-bold mt-6">المعلومات التي نجمعها</h3>
          <p class="mt-2">
            نقوم بجمع المعلومات التالية عندما تستخدم موقعنا:
          </p>
          <ul class="list-disc list-inside ml-6 mt-2">
            <li>المعلومات التي تقدمها لنا مباشرة مثل الاسم والبريد الإلكتروني.</li>
            <li>المعلومات التي يتم جمعها تلقائيًا مثل عنوان IP وسلوك التصفح.</li>
          </ul>

          <h3 class="text-lg font-bold mt-6">كيفية استخدامنا للمعلومات</h3>
          <p class="mt-2">
            نستخدم المعلومات التي نجمعها للأغراض التالية:
          </p>
          <ul class="list-disc list-inside ml-6 mt-2">
            <li>تحسين تجربتك على الموقع.</li>
            <li>التواصل معك بخصوص التحديثات والخدمات الجديدة.</li>
          </ul>

          <h3 class="text-lg font-bold mt-6">كيفية حماية معلوماتك</h3>
          <p class="mt-2">
            نحن نتبع معايير أمنية عالية لحماية بياناتك الشخصية من الوصول غير المصرح به.
          </p>

          <h3 class="text-lg font-bold mt-6">التغييرات في سياسة الخصوصية</h3>
          <p class="mt-2">
            قد نقوم بتحديث سياسة الخصوصية هذه من وقت لآخر. سيتم نشر أي تغييرات على هذه الصفحة.
          </p>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
